@import "variables";
@import "base";
@import "mediaqueries";
@import "fonts";
@import "reset";
@import "keyframes";
@import "layout";
@import "mixin";
@import "silent_class";

.pomodoro_page {
    @include scroll((
        bg: $c0,
        color: $c6
    ));
    @include font(100%);
    @include no-margins;
    @include no-border;
    @include bc($c3, $c1);
}

.container_pomodoro {
    @include center-flex-column;
    @include wh(100vw, max(calc(100vh - 90px), 500px));
    @include user-select;
    margin: 45px auto;

    @include brp($b7) {
        margin: $v1 auto;
        height: calc(100vh - $v2);
    }

    .pomodoro {
        @include center-flex-column;
        @include border-radius(50%);
        @include whs(min(80vw, 500px));
        @include position;
        @include box-shadow((
            $sha1,
            $sha2,
            $sha3
        ));
        background-image: radial-gradient($grad1);
        overflow: hidden;

        .timer {
            @include center-flex-row;
            @include gap(10px);

            .minutes {
                @extend %txt1;
                padding-left: 5px;
            }

            .separator {
                @extend %txt1;
                @include position(relative, -20px);
            }

            .seconds {
                @extend %txt1;
                padding-right: 5px;
            }
        }

        .container_buttons {
            @include position(absolute, 60px, 50%, bottom);
            @include transform(translateX(-50%));
            @include align-items(center);
            @include flex-direction(column);
            @include gap(20px);
            @include flex;

            @include brp($b7) {
                @include gap(3.60vw);
                bottom: 7.81vw;
            }

            .start_stop {
                all: initial;
                @include transition(color $t5);
                @include font(
                    szrem(15),
                    $f2,
                    700
                );
                @include text(center, uppercase);
                letter-spacing: 0.5rem;
                cursor: pointer;
                color: $c1;

                @include brp($b7) {
                    @debug bp((value: 15, initial_base: 768));
                    font-size: clamp(12px, 1.95vw, 15px);
                }

                &:hover {
                    @include transition(color $t5);
                    color: $c8;
                }

                &:disabled {
                    color: $c4;
                    cursor: default;
                }

                &.start {
                    &:hover {
                        @include transition(color $t5);
                        color: $c9;
                    }
                }
            }

            .setting {
                all: initial;
                @include ht;
                @include position;
                @include whs($v3);
                cursor: pointer;
            }
        }
    }
}
