//-----------------------------------
// Variables
//-----------------------------------
// Colors
$c0: transparent;
$c1: #FFF;
$c2: #000;

$c3: #2B2A30;
$c4: #3A393F;
$c5: #17171A;
$c6: #59007A;
$c7: #585858;
$c8: #09A65A;
$c9: #900A0A;
$c10: #E6E711;

$sha1: inset 0px 0px 114px rgba($c2, 0.45);
$sha2: -4px 2px 30px 3px $c2;
$sha3: 0px -10px 20px 12px rgba($c1, 0.17);

$grad1: radial-gradient(71.4% 71.4% at 51.7% 28.6%, $c4 0%, $c5 100%, $c5 100%);
$grad2: radial-gradient(71.4% 71.4% at 51.7% 28.6%, $c9 0%, $c5 100%, $c5 100%);

// Font
$f1: "Bebas Neue", "cursive";
$f2: "Montserrat", "sans-serif";

// Path
$i1: "../../img/svg/";

// Breakpoints
$b1: 1920; // Tamaño diseño desktop
$b2: 1440;
$b3: 1366;
$b4: 1280;
$b5: 1024;
$b6: 980; // BRP para cambio a movil tablet
$b7: 768;
$b8: 640;
$b9: 480; //Tamaño de diseño movil
$b10: 320;

// Time Animation
$t1: 100ms;
$t2: 200ms;
$t3: 300ms;
$t4: 400ms;
$t5: 500ms;
$t6: 600ms;
$t7: 700ms;
$t8: 800ms;
$t9: 900ms;

// Variables
$v1: min(5.86vw, 45px);
$v2: min(14.86vw, 45px);

$v3: 24px;

$tra1: all $t8 cubic-bezier(1, -0.21, 0.95, 0.88);
$tra2: opacity $t8 cubic-bezier(1, -0.21, 0.95, 0.88);
$tra3: all $t3;
//-----------------------------------
//End Variables
//-----------------------------------
